#wrapper {
    position:relative;
    /*border:0px solid;*/
    max-width : 1000px;
    min-height: 510px;
    margin : auto;
    margin-top:30px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

.page-header h1 {
    position:relative;  
    display:block;
    margin-top: 15px;
    text-align: center;
	margin:0px auto;
	color:#0066CC;
    padding: 15px;
}

#container {
	width:700px;
	position:relative;
	margin:0px auto;
}



main {
    height:100%;
    overflow:auto ;
}

.data-content {
    position:relative;
    margin:auto;
    width:900px;
}

.input-group input,button {
    float:left;

}

#auth_table  th {
    color:#996633;
}